In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
cd "C:\Users\aijul\Desktop\dataScience-\Real_Estate_Project\dataset"

C:\Users\aijul\Desktop\dataScience-\Real_Estate_Project\dataset

In [4]:
df = pd.read_csv("gurgaon_properties_cleaned_v1.csv")

In [5]:
df.duplicated().sum()

123

In [6]:
df.head()

,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_type
0,maa bhagwati residency,0.45,sector 7,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...","['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
1,apna enclave,0.50,sector 3,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...",NaN
2,tulsiani easy in homes,0.40,sector 47,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...",NaN
3,smart world orchard,1.47,sector 61,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,2.0,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,parkwood westend,0.70,sector 92,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,5.0,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",[],NaN,NaN

# areaWithType

In [7]:
df.sample(5)[['price','area','areaWithType']]

      price    area                                       areaWithType
2072   1.35  1440.0                   Carpet area: 1440 (133.78 sq.m.)
2135   0.93  1640.0  Built Up area: 1587 (147.44 sq.m.)Carpet area:...
1317   1.22  1700.0  Super Built up area 2300(213.68 sq.m.)Built Up...
1073   2.65  2251.0  Super Built up area 2251.42(209.16 sq.m.)Built...
384    2.08  2080.0             Super Built up area 2443(226.96 sq.m.)

In [8]:
# This function extracts the Super Built up area
def get_super_built_up_area(text):
    match = re.search(r'Super Built up area (\d+\.?\d*)', text)
    if match:
        return float(match.group(1))
    return None

In [9]:
# This function extracts the Built Up area or Carpet area
def get_area(text, area_type):
    match = re.search(area_type + r'\s*:\s*(\d+\.?\d*)', text)
    if match:
        return float(match.group(1))
    return None

In [10]:
# This function checks if the area is provided in sq.m. and converts it to sqft if needed
def convert_to_sqft(text, area_value):
    if area_value is None:
        return None
    match = re.search(r'{} \((\d+\.?\d*) sq.m.\)'.format(area_value), text)
    if match:
        sq_m_value = float(match.group(1))
        return sq_m_value * 10.7639  # conversion factor from sq.m. to sqft
    return area_value

In [11]:
# Extract Super Built up area and convert to sqft if needed
df['super_built_up_area'] = df['areaWithType'].apply(get_super_built_up_area)
df['super_built_up_area'] = df.apply(lambda x: convert_to_sqft(x['areaWithType'], x['super_built_up_area']), axis=1)

# Extract Built Up area and convert to sqft if needed
df['built_up_area'] = df['areaWithType'].apply(lambda x: get_area(x, 'Built Up area'))
df['built_up_area'] = df.apply(lambda x: convert_to_sqft(x['areaWithType'], x['built_up_area']), axis=1)

# Extract Carpet area and convert to sqft if needed
df['carpet_area'] = df['areaWithType'].apply(lambda x: get_area(x, 'Carpet area'))
df['carpet_area'] = df.apply(lambda x: convert_to_sqft(x['areaWithType'], x['carpet_area']), axis=1)

In [12]:
df.sample(5)

,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_type,super_built_up_area,built_up_area,carpet_area
1511,ss,1.98,sector 85,8222.0,2408.0,Super Built up area 2408(223.71 sq.m.)Built Up...,3,4,3,not available,6.0,West,1 to 5 Year Old,"['Orris Community Center', 'Indian Oil', 'Essa...","['6 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F...",NaN,2408.0,2300.0,2200.0
1448,bestech park view grand spa,2.29,sector 81,8609.0,2660.0,Super Built up area 2660(247.12 sq.m.)Carpet a...,3,4,3+,"servant room,study room",10.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, IMT Manesar', 'Dwa...","['4 Wardrobe', '4 Fan', '1 Fridge', '1 Exhaust...","['Centrally Air Conditioned', 'Water purifier'...",NaN,2660.0,NaN,2000.0
1452,ats kocoon,2.20,sector 109,10501.0,2095.0,Super Built up area 2095(194.63 sq.m.)Built Up...,3,4,3,servant room,13.0,West,1 to 5 Year Old,"['Jagdish Super Market', 'Dwarka', 'Euro Inter...","['4 AC', '1 Modular Kitchen', 'No Bed', 'No Ch...","['Water purifier', 'Security / Fire Alarm', 'F...",NaN,2095.0,1860.0,NaN
3085,independent,0.70,sector 12,4117.0,1700.0,Plot area 1700(157.94 sq.m.),4,4,1,not available,2.0,NaN,5 to 10 Year Old,NaN,[],NaN,house,NaN,NaN,NaN
1694,tulip violet,1.51,sector 69,9569.0,1578.0,Super Built up area 1578(146.6 sq.m.)Carpet ar...,3,3,2,pooja room,0.0,West,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...","['1 Water Purifier', '2 Fan', '1 Fridge', '1 E...","['Water purifier', 'Centrally Air Conditioned'...",NaN,1578.0,NaN,1100.0

In [13]:
df.duplicated().sum()

123

In [16]:
df[~((df['super_built_up_area'].isnull()) | (df['built_up_area'].isnull()) | (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType']].shape

(534, 4)