In [61]:
import pandas as pd
import numpy as np
import re

In [62]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [63]:
cd "C:\Users\aijul\Desktop\dataScience-\Real_Estate_Project\dataset"

C:\Users\aijul\Desktop\dataScience-\Real_Estate_Project\dataset

In [64]:
df = pd.read_csv("gurgaon_properties_cleaned_v1.csv")

In [65]:
df.duplicated().sum()

123

In [66]:
df.head()

,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_type
0,maa bhagwati residency,0.45,sector 7,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pearl Dental Clinic', 'Taneja Hospital', 'Dr. Ashok Jain', 'Dr. Madan Clinic', 'Geeta Nursing Home Gurgaon', 'Chiranjiv Hospital', 'Dev Man Kathuria Clinic', 'Aryan Hospital', 'Kr Dental Hub', 'Swastik Maternity and Medical Centre', 'Satyam Hospital Gurgaon', 'Ravi Clinic and Health Care Centre', 'D.R. Rajnis Gupta Clinic', 'Esic Hospital Gurugram', 'Gurgaon Eye Centre', 'Bindal Clinic', 'Shiv Mahima Patient Care Bureau', 'Shree Krishna Hospital Gurgaon', 'M.S Hospital', 'My Care Clinic', 'Ankur Clinic and Maternity Home', 'Triveni Hospital Gurgaon', 'Shri Gobind Hospital', 'Navjeevan Hospital and Maternity Centre', 'Lal Superspeciality Hospital', 'Sparsh Hospital Gurgaon', 'Prateek Nursing Home And Polyclinic', 'Jain Sant Phool Chand Ji Charitable Hospital', 'Sarvodya Hospital', 'Bhatnagar Maternity and Nursing Home', 'Tirath Ram Hospitals Pvt Ltd', 'Dr. Sarvejeet Singh', 'Centre For Sight Gurgaon New Railway Road', 'Dr. Ajay S. Gupta Clinic', 'Kidney Clinic', 'Mangalam Hospital and Heart Centre Gurgaon', 'Sethi Hospital Gurgaon', 'Shubham Hospital Gurgaon', 'Kharbanda Maternity and Nursing Home', 'Gupta Hospital Gurgaon', 'Dentecare - Multispeciality Dental Clinic', 'State bank of india', 'Hdfc bank', 'Kotak bank', 'Indian bank', 'Pizza Hut', 'St. Michaels Sr. Sec. School', 'Dronacharya Government College']","['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Lift(s)', 'Water Storage', 'Visitor Parking']",NaN
1,apna enclave,0.50,sector 3,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', 'State bank ATM', 'Sneh Hospital Gurgaon', 'Jiya Clinic', 'Dr. Mittal Clinic', ""Dr. Anurag's Child Care Clinic"", 'Yashroop Medical Centre', 'Dr. Sindhu Clinic', 'Bhardwaj Hospital', 'Jain Sant Phool Chand Ji Charitable Hospital', 'Sarvodya Hospital', 'Dr. Hitesh Dawar', 'Prateek Nursing Home And Polyclinic', 'R K Hospital Gurgaon', 'Chirag Hospital Pvt. Ltd', 'Kr Dental Hub', 'Gurgaon Eye Centre', 'Shree Krishna Hospital Gurgaon', 'Dr. Ashok Jain', 'GH Gurgaon', 'Aryan Hospital', 'Dr. Agya Ram Sharma Clinic', 'Pearl Dental Clinic', 'D.R. Rajnis Gupta Clinic', 'Sparsh Hospital Gurgaon', 'Bhatnagar Maternity and Nursing Home', 'Geeta Nursing Home Gurgaon', 'Taneja Hospital', 'Ravi Clinic and Health Care Centre', 'Dr. Sarvejeet Singh', 'Esic Hospital Gurugram', 'Centre For Sight Gurgaon New Railway Road', 'Kidney Clinic', 'Jackson Hospital', 'Jeevan Jyoti Hospital Gurgaon', 'Chiranjiv Hospital', 'Dr. Tomar Clinic', 'Indian bank', 'Kotak bank', 'Hdfc bank', 'State bank of india', 'Pizza Hut', 'St. Michaels Sr. Sec. School', 'Lieutenant Atul Kataria School', 'Dronacharya Government College', 'Gurgaon railway station', 'Gurgaon railway station', 'Gurgaon railway station']","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Geyser', '3 Light', '1 Curtains', '1 Chimney', '1 Modular Kitchen', 'No AC', 'No Bed', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",NaN
2,tulsiani easy in homes,0.40,sector 47,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', 'Rajiv Chowk', 'IGI Airport', 'IMT Sohna', 'Damdama Lake']",NaN,"['Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Park', 'Fitness Centre / GYM', 'Club house / Community Center']",NaN
3,smart world orchard,1.47,sector 61,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,2.0,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Central Square Mall', 'Golf Course Ext Road', 'Badshahpur Sohna Rd Hwy', 'ORCHIDS The International School', 'Sushant University', 'Marengo Asia Hospitals', 'Indira Gandhi Intl Airport', 'Gurgaon Railway Station']",NaN,"['Security / Fire Alarm', 'Private Garden / Terrace', 'Lift(s)', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Visitor Parking', 'Swimming Pool', 'Natural Light', 'Airy Rooms', 'Fitness Centre / GYM', 'Club house / Community Center', 'Water softening plant']",NaN
4,parkwood westend,0.70,sector 92,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,5.0,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. Sarkar Clinic', 'Sagar Clinic', 'Orris Community Center', 'Vijay Petrol Pump', 'HP Petrol Pump', 'Essar Petrol Pump', 'Indian Oil', 'Pizza Hut', 'KFC']",[],NaN,NaN

# areaWithType

In [67]:
df.sample(5)[['price','area','areaWithType']]

,price,area,areaWithType
1212,0.80,900.0,Super Built up area 1380(128.21 sq.m.)Built Up area: 1310 sq.ft. (121.7 sq.m.)Carpet area: 900 sq.ft. (83.61 sq.m.)
3677,7.10,251.0,Plot area 240(22.3 sq.m.)
2975,13.00,2700.0,Plot area 300(250.84 sq.m.)
2812,3.78,2291.0,Carpet area: 2295 (213.21 sq.m.)
3327,1.60,892.0,Plot area 892(82.87 sq.m.)

In [68]:
# This function extracts the Super Built up area
def get_super_built_up_area(text):
    match = re.search(r'Super Built up area (\d+\.?\d*)', text)
    if match:
        return float(match.group(1))
    return None

In [69]:
# This function extracts the Built Up area or Carpet area
def get_area(text, area_type):
    match = re.search(area_type + r'\s*:\s*(\d+\.?\d*)', text)
    if match:
        return float(match.group(1))
    return None

In [70]:
# This function checks if the area is provided in sq.m. and converts it to sqft if needed
def convert_to_sqft(text, area_value):
    if area_value is None:
        return None
    match = re.search(r'{} \((\d+\.?\d*) sq.m.\)'.format(area_value), text)
    if match:
        sq_m_value = float(match.group(1))
        return sq_m_value * 10.7639  # conversion factor from sq.m. to sqft
    return area_value

In [71]:
# Extract Super Built up area and convert to sqft if needed
df['super_built_up_area'] = df['areaWithType'].apply(get_super_built_up_area)
df['super_built_up_area'] = df.apply(lambda x: convert_to_sqft(x['areaWithType'], x['super_built_up_area']), axis=1)

# Extract Built Up area and convert to sqft if needed
df['built_up_area'] = df['areaWithType'].apply(lambda x: get_area(x, 'Built Up area'))
df['built_up_area'] = df.apply(lambda x: convert_to_sqft(x['areaWithType'], x['built_up_area']), axis=1)

# Extract Carpet area and convert to sqft if needed
df['carpet_area'] = df['areaWithType'].apply(lambda x: get_area(x, 'Carpet area'))
df['carpet_area'] = df.apply(lambda x: convert_to_sqft(x['areaWithType'], x['carpet_area']), axis=1)

In [72]:
df.sample(5)

,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_type,super_built_up_area,built_up_area,carpet_area
3244,independent,1.10,sector 105,12222.0,900.0,Carpet area: 900 (83.61 sq.m.),6,4,1,not available,1.0,South-West,undefined,NaN,NaN,NaN,house,NaN,NaN,900.0
2724,smriti apartment,0.52,sector 56,10666.0,488.0,Super Built up area 525(48.77 sq.m.),1,1,1,not available,1.0,NaN,10+ Year Old,"['Sector 54 chowk metro station', 'Sector metro station', 'Sector metro station', 'Sector 53-54 metro station', 'Sanatan Dharm Mandir', 'Radhakrishna Shani Mandir', 'Icici bank ATM', 'Citi bank ATM', 'State bank ATM', 'Icici bank ATM', 'Indusind bank ATM', 'Arunodaya Deseret Eye Hospital', 'Surgicare Hospital Gurgaon', 'Kriti Hospital', 'Anand Hospital Gurgaon', 'pracksht hospital', 'HUDA Office Complex', 'Medisca', 'Apollo Pharmacy', 'Intellion Park', 'International Tech Park', 'HCG CNG Station', 'Heera Fuel Station', 'State bank of india', 'Kotak mahindra bank', 'Indusind bank', 'Hdfc bank', 'Icici bank', 'Axis bank', 'Hdfc bank & atm', 'Hdfc bank and atm', '222', 'Wat-a-Burger', 'Burger Singh', 'Bikanerwala', 'Naivedyam Restaurant', 'Pizza Hut', 'Clock tower', 'Starbucks', ""Carl's Jr."", 'Cafe Tonini', 'Shophouse by Kylin', 'Sagar Ratna', 'Iilm University', 'IILM', 'Sushant College of Arts & Architecture', 'Ansal Institute of Technology', 'Suncity School']","['2 Fan', '3 Light', '1 Wardrobe', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Maintenance Staff', 'Water Storage', 'Park', 'Natural Light']",NaN,525.0,NaN,NaN
985,godrej oasis,1.30,sector 88a,7258.0,1791.0,Carpet area: 1791 (166.39 sq.m.),3,3,3+,not available,4.0,North-West,1 to 5 Year Old,"['Double Infinity market', 'Pataudi road', 'Dwarka expressway', 'Kidzee', 'RPS International School', 'Aman Hospital', 'Bamroli Cricket Ground']",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Swimming Pool', 'Park', 'Internet/wi-fi connectivity', 'Shopping Centre', 'Fitness Centre / GYM', 'Rain Water Harvesting', 'Club house / Community Center']",NaN,NaN,NaN,1791.0
1973,dlf the skycourt,1.60,sector 86,8294.0,1929.0,Super Built up area 1929(179.21 sq.m.),3,3,1,pooja room,14.0,North-East,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, Imt Manesar', 'Rao Bharat Singh International School', 'DPG Institute of Technology', 'Aarvy Healthcare', 'Indira Gandhi International Airport', 'Imt Manesar', 'Holiday Inn Hotel Sector 90', 'Aapno Ghar', 'National Tennis Academy Sector 98']",NaN,"['Security / Fire Alarm', 'Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Water Storage', 'Piped-gas', 'Visitor Parking', 'Swimming Pool', 'Park', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center']",NaN,1929.0,NaN,NaN
2805,nul,0.56,sector 58,6054.0,925.0,Carpet area: 925 (85.94 sq.m.),2,2,1,not available,11.0,NaN,10+ Year Old,"['HANUMAN MANDIR', 'SHIV MANDIR BALIYAWAS', 'Indusind bank ATM', 'Icici bank ATM', 'Citi bank ATM', 'Parivar Clinic', 'Janki Max Hospital', 'Arunodaya Deseret Eye Hospital', 'Apollo Pharmacy', 'Intellion Park', 'International Tech Park', 'Hdfc bank', 'Icici bank', 'CHINESE CORNER', 'Naivedyam Restaurant', 'GOVERNMENT SCHOOL', 'Regional Skill Development Centre', 'Suncity School', 'Ansal Institute of Technology', 'Sushant College of Arts & Architecture']","['4 Fan', '1 Exhaust Fan', '18 Light', '2 AC', '4 Wardrobe', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']",NaN,NaN,NaN,NaN,925.0

In [73]:
df.duplicated().sum()

123

In [46]:
df[~((df['super_built_up_area'].isnull()) | (df['built_up_area'].isnull()) | (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType']].shape

(534, 4)

In [47]:
df[df['areaWithType'].str.contains('Plot')][['price', 'property_type', 'area', 'areaWithType', 'super_built_up_area', 'built_up_area', 'carpet_area']].shape

(684, 7)

In [48]:
df.isnull().sum()

society                   1
price                    17
sector                    0
price_per_sqft           17
area                     17
areaWithType              0
bedRoom                   0
bathroom                  0
balcony                   0
additionalRoom            0
floorNum                 19
facing                 1106
agePossession             1
nearbyLocations         177
furnishDetails          981
features                639
property_type          2942
super_built_up_area    1888
built_up_area          2617
carpet_area            1863
dtype: int64

In [49]:
all_nan_df = df[((df['super_built_up_area'].isnull()) & (df['built_up_area'].isnull()) & (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType', 'super_built_up_area', 'built_up_area', 'carpet_area']]

In [50]:
all_nan_index = df[((df['super_built_up_area'].isnull()) & (df['built_up_area'].isnull()) & (df['carpet_area'].isnull()))][['price','property_type','area','areaWithType', 'super_built_up_area', 'built_up_area', 'carpet_area']].index

In [51]:
# Function to extract plot area from 'areaWithType' column
def extract_plot_area(area_with_type):
    match = re.search(r'Plot area (\d+\.?d*)', area_with_type)
    return float(match.group(1)) if match else None

In [74]:
all_nan_df['built_up_area']= all_nan_df['areaWithType'].apply(extract_plot_area)
# Update the original dataframe
#gurgaon_properties.update(filtered_rows)

In [75]:
all_nan_df

,price,property_type,area,areaWithType,super_built_up_area,built_up_area,carpet_area
2942,5.25,house,2610.0,Plot area 290(242.48 sq.m.),NaN,290.0,NaN
2943,2.10,house,549.0,Plot area 61(51 sq.m.),NaN,61.0,NaN
2944,5.00,house,1161.0,Plot area 129(107.86 sq.m.),NaN,129.0,NaN
2945,3.00,house,558.0,Plot area 62(51.84 sq.m.),NaN,62.0,NaN
2946,4.50,house,1152.0,Plot area 128(107.02 sq.m.),NaN,128.0,NaN
2947,12.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
2948,20.00,house,4091.0,Plot area 500(418.06 sq.m.),NaN,500.0,NaN
2949,10.85,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.0,NaN
2950,1.95,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.0,NaN
2951,4.45,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.0,NaN
2952,9.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
2953,5.00,house,1467.0,Plot area 163(136.29 sq.m.),NaN,163.0,NaN
2954,15.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.0,NaN
2955,8.25,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
2956,10.75,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.0,NaN
2957,2.10,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.0,NaN
2958,7.35,house,1760.0,Plot area 240(200.67 sq.m.),NaN,240.0,NaN
2959,4.45,house,2880.0,Plot area 320(267.56 sq.m.),NaN,320.0,NaN
2960,3.40,house,2628.0,Plot area 292(244.15 sq.m.),NaN,292.0,NaN
2961,12.00,house,3150.0,Plot area 350(292.64 sq.m.),NaN,350.0,NaN
2962,8.40,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
2963,8.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
2964,7.60,house,1961.0,Plot area 215(179.77 sq.m.),NaN,215.0,NaN
2965,7.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
2966,4.75,house,5067.0,Plot area 563(470.74 sq.m.),NaN,563.0,NaN
2967,3.50,house,2610.0,Plot area 290(242.48 sq.m.),NaN,290.0,NaN
2968,5.00,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.0,NaN
2969,10.56,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
2970,5.46,house,2259.0,Plot area 251(209.87 sq.m.),NaN,251.0,NaN
2971,10.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
2972,9.00,house,3159.0,Plot area 351(293.48 sq.m.),NaN,351.0,NaN
2973,1.95,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.0,NaN
2974,3.30,house,1728.0,Plot area 192(160.54 sq.m.),NaN,192.0,NaN
2975,13.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
2976,6.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
2977,9.00,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
2978,5.80,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
2979,7.49,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
2980,13.50,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
2981,11.95,house,2745.0,Plot area 305(255.02 sq.m.),NaN,305.0,NaN
2982,12.39,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
2983,6.25,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
2984,NaN,house,NaN,Plot area 350(292.64 sq.m.),NaN,350.0,NaN
2985,5.40,house,2610.0,Plot area 290(242.48 sq.m.),NaN,290.0,NaN
2986,5.75,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.0,NaN
2987,2.55,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.0,NaN
2988,5.60,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
2989,17.00,house,4500.0,Plot area 4500(418.06 sq.m.),NaN,4500.0,NaN
2991,3.75,house,1467.0,Plot area 163(136.29 sq.m.),NaN,163.0,NaN
2992,7.25,house,2592.0,Plot area 288(240.8 sq.m.),NaN,288.0,NaN
2993,8.40,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.0,NaN
2994,3.55,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.0,NaN
2995,2.50,house,3542.0,Plot area 3400(315.87 sq.m.),NaN,3400.0,NaN
2996,2.50,house,3542.0,Plot area 3400(315.87 sq.m.),NaN,3400.0,NaN
2998,2.10,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3001,9.50,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.0,NaN
3002,5.00,house,3078.0,Plot area 342(285.96 sq.m.),NaN,342.0,NaN
3003,5.50,house,2546.0,Plot area 270(225.75 sq.m.),NaN,270.0,NaN
3004,5.65,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.0,NaN
3006,3.25,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.0,NaN
3007,5.00,house,4950.0,Plot area 550(459.87 sq.m.),NaN,550.0,NaN
3009,19.50,house,8775.0,Plot area 975(815.22 sq.m.),NaN,975.0,NaN
3010,7.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
3011,0.67,house,783.0,Plot area 87(72.74 sq.m.),NaN,87.0,NaN
3013,5.70,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.0,NaN
3014,3.20,house,2367.0,Plot area 263(219.9 sq.m.),NaN,263.0,NaN
3015,11.50,house,2736.0,Plot area 304(254.18 sq.m.),NaN,304.0,NaN
3016,7.69,house,3195.0,Plot area 355(296.83 sq.m.),NaN,355.0,NaN
3017,7.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
3018,1.55,house,1116.0,Plot area 120(100.34 sq.m.),NaN,120.0,NaN
3019,3.85,house,2628.0,Plot area 292(244.15 sq.m.),NaN,292.0,NaN
3020,2.00,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.0,NaN
3021,3.10,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.0,NaN
3022,2.25,house,1440.0,Plot area 160(133.78 sq.m.),NaN,160.0,NaN
3024,8.50,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.0,NaN
3026,12.50,house,4687.0,Plot area 500(418.06 sq.m.),NaN,500.0,NaN
3027,6.80,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.0,NaN
3028,9.50,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.0,NaN
3029,7.00,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.0,NaN
3030,6.20,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.0,NaN
3031,3.60,house,1449.0,Plot area 161(134.62 sq.m.),NaN,161.0,NaN
3032,5.90,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.0,NaN
3033,5.85,house,2214.0,Plot area 246(205.69 sq.m.),NaN,246.0,NaN
3034,4.00,house,6001.0,Plot area 6000(557.42 sq.m.),NaN,6000.0,NaN
3036,6.60,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
3039,0.65,house,720.0,Plot area 80(66.89 sq.m.),NaN,80.0,NaN
3040,0.55,house,1350.0,Plot area 1350(125.42 sq.m.),NaN,1350.0,NaN
3041,0.85,house,13492.0,Plot area 1500(1254.19 sq.m.),NaN,1500.0,NaN
3042,0.58,house,67.0,Plot area 67(6.22 sq.m.),NaN,67.0,NaN
3043,0.65,house,70.0,Plot area 70(6.5 sq.m.),NaN,70.0,NaN
3044,0.61,house,61.0,Plot area 61(5.67 sq.m.),NaN,61.0,NaN
3045,0.67,house,76.0,Plot area 76(7.06 sq.m.),NaN,76.0,NaN
3046,5.80,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.0,NaN
3047,6.00,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.0,NaN
3049,7.05,house,1503.0,Plot area 167(139.63 sq.m.),NaN,167.0,NaN
3050,4.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
3051,3.69,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.0,NaN
3052,2.50,house,963.0,Plot area 107(89.47 sq.m.),NaN,107.0,NaN
3053,5.50,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.0,NaN
3054,15.00,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.0,NaN
3058,11.25,house,4500.0,Plot area 500(418.06 sq.m.),NaN,500.0,NaN
3060,5.70,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.0,NaN
3062,0.66,house,550.0,Plot area 550(51.1 sq.m.),NaN,550.0,NaN
3063,0.70,house,684.0,Plot area 684(63.55 sq.m.),NaN,684.0,NaN
3064,1.45,house,540.0,Plot area 60(50.17 sq.m.),NaN,60.0,NaN
3065,0.95,house,1070.0,Plot area 1070(99.41 sq.m.),NaN,1070.0,NaN
3066,4.50,house,3150.0,Plot area 14(354.1 sq.m.),NaN,14.0,NaN
3068,7.00,house,2475.0,Plot area 275(229.94 sq.m.),NaN,275.0,NaN
3070,4.00,house,1503.0,Plot area 167(139.63 sq.m.),NaN,167.0,NaN
3071,0.90,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.0,NaN
3074,0.50,house,600.0,Plot area 600(55.74 sq.m.),NaN,600.0,NaN
3075,0.42,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3077,0.50,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.0,NaN
3079,4.00,house,981.0,Plot area 109(91.14 sq.m.),NaN,109.0,NaN
3080,2.20,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.0,NaN
3081,1.10,house,1782.0,Plot area 1782(165.55 sq.m.),NaN,1782.0,NaN
3082,8.00,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.0,NaN
3083,0.82,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.0,NaN
3085,0.70,house,1700.0,Plot area 1700(157.94 sq.m.),NaN,1700.0,NaN
3087,1.30,house,1494.0,Plot area 166(138.8 sq.m.),NaN,166.0,NaN
3088,3.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.0,NaN
3089,0.80,house,1200.0,Plot area 1200(111.48 sq.m.),NaN,1200.0,NaN
3090,6.00,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
3091,2.80,house,2250.0,Plot area 2250(209.03 sq.m.),NaN,2250.0,NaN
3094,3.10,house,3653.0,Plot area 3653(339.37 sq.m.),NaN,3653.0,NaN
3098,0.34,house,270.0,Plot area 270(25.08 sq.m.),NaN,270.0,NaN
3100,5.00,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.0,NaN
3101,9.50,house,4071.0,Plot area 500(418.06 sq.m.),NaN,500.0,NaN
3102,7.25,house,2471.0,Plot area 303(253.35 sq.m.),NaN,303.0,NaN
3104,1.30,house,1152.0,Plot area 1152(107.02 sq.m.),NaN,1152.0,NaN
3106,0.37,house,360.0,Plot area 360(33.45 sq.m.),NaN,360.0,NaN
3108,1.15,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.0,NaN
3109,0.49,house,436.0,Plot area 360(33.45 sq.m.),NaN,360.0,NaN
3112,7.00,house,1783.0,Plot area 1782.72(165.62 sq.m.),NaN,1782.0,NaN
3118,4.12,house,4635.0,Plot area 515(430.61 sq.m.),NaN,515.0,NaN
3124,1.20,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3127,NaN,house,NaN,Plot area 2700(250.84 sq.m.),NaN,2700.0,NaN
3129,4.70,house,2160.0,Plot area 240(200.67 sq.m.),NaN,240.0,NaN
3132,1.25,house,1431.0,Plot area 159(132.94 sq.m.),NaN,159.0,NaN
3136,0.07,house,277.0,Plot area 33(27.59 sq.m.),NaN,33.0,NaN
3140,0.60,house,972.0,Plot area 108(90.3 sq.m.),NaN,108.0,NaN
3141,1.10,house,200.0,Plot area 200(18.58 sq.m.),NaN,200.0,NaN
3142,2.50,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.0,NaN
3143,3.50,house,1722.0,Plot area 160,NaN,160.0,NaN
3149,8.95,house,5000.0,Plot area 5000(464.52 sq.m.),NaN,5000.0,NaN
3150,14.00,house,3510.0,Plot area 390(326.09 sq.m.),NaN,390.0,NaN
3151,0.85,house,67.0,Plot area 67(6.22 sq.m.),NaN,67.0,NaN
3155,0.51,house,360.0,Plot area 40(33.45 sq.m.),NaN,40.0,NaN
3157,NaN,house,NaN,Plot area 1000(92.9 sq.m.),NaN,1000.0,NaN
3158,2.50,house,1900.0,Plot area 1900(176.52 sq.m.),NaN,1900.0,NaN
3160,2.00,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
3163,0.37,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.0,NaN
3164,1.35,house,3500.0,Plot area 3500(325.16 sq.m.),NaN,3500.0,NaN
3174,0.65,house,585.0,Plot area 65(54.35 sq.m.),NaN,65.0,NaN
3175,1.60,house,558.0,Plot area 62(51.84 sq.m.),NaN,62.0,NaN
3176,0.95,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.0,NaN
3178,0.66,house,612.0,Plot area 612(56.86 sq.m.),NaN,612.0,NaN
3180,1.50,house,1426.0,Plot area 1426(132.48 sq.m.),NaN,1426.0,NaN
3186,6.50,house,2500.0,Plot area 2500(232.26 sq.m.),NaN,2500.0,NaN
3187,3.50,house,1440.0,Plot area 1440(133.78 sq.m.),NaN,1440.0,NaN
3189,5.70,house,2518.0,Plot area 270(225.75 sq.m.),NaN,270.0,NaN
3190,3.30,house,1242.0,Plot area 138(115.39 sq.m.),NaN,138.0,NaN
3191,1.75,house,1575.0,Plot area 1575(146.32 sq.m.),NaN,1575.0,NaN
3192,0.75,house,1170.0,Plot area 130(108.7 sq.m.),NaN,130.0,NaN
3195,1.10,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
3201,0.80,house,100.0,Plot area 100(9.29 sq.m.),NaN,100.0,NaN
3205,1.20,house,538.0,Plot area 50,NaN,50.0,NaN
3209,8.50,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
3210,0.75,house,360.0,Plot area 40(33.45 sq.m.),NaN,40.0,NaN
3215,8.50,house,3132.0,Plot area 348(290.97 sq.m.),NaN,348.0,NaN
3217,4.65,house,2646.0,Plot area 294(245.82 sq.m.),NaN,294.0,NaN
3218,0.60,house,558.0,Plot area 62(51.84 sq.m.),NaN,62.0,NaN
3219,4.50,house,4950.0,Plot area 550(459.87 sq.m.),NaN,550.0,NaN
3220,3.20,house,540.0,Plot area 60(50.17 sq.m.),NaN,60.0,NaN
3221,0.60,house,57.0,Plot area 57(5.3 sq.m.),NaN,57.0,NaN
3222,1.95,house,920.0,Plot area 920(85.47 sq.m.),NaN,920.0,NaN
3223,1.25,house,82781.0,Plot area 115(7692.86 sq.m.),NaN,115.0,NaN
3224,6.10,house,2430.0,Plot area 270(225.75 sq.m.),NaN,270.0,NaN
3225,0.50,house,360.0,Plot area 40(33.45 sq.m.),NaN,40.0,NaN
3226,2.00,house,1337.0,Plot area 1337.4(124.25 sq.m.),NaN,1337.0,NaN
3227,2.10,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.0,NaN
3231,0.90,house,785.0,Plot area 785(72.93 sq.m.),NaN,785.0,NaN
3232,0.75,house,640.0,Plot area 640(59.46 sq.m.),NaN,640.0,NaN
3233,1.30,house,1125.0,Plot area 1125(104.52 sq.m.),NaN,1125.0,NaN
3236,1.50,house,1980.0,Plot area 220(183.95 sq.m.),NaN,220.0,NaN
3238,0.60,house,558.0,Plot area 62(51.84 sq.m.),NaN,62.0,NaN
3239,6.50,house,3150.0,Plot area 350(292.64 sq.m.),NaN,350.0,NaN
3240,1.07,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3241,2.10,house,1215.0,Plot area 135(112.88 sq.m.),NaN,135.0,NaN
3243,1.00,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3245,2.95,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
3246,4.60,house,1460.0,Plot area 1460(135.64 sq.m.),NaN,1460.0,NaN
3247,0.35,house,360.0,Plot area 40(33.45 sq.m.),NaN,40.0,NaN
3248,1.50,house,1170.0,Plot area 130(108.7 sq.m.),NaN,130.0,NaN
3251,0.40,house,450.0,Plot area 50(41.81 sq.m.),NaN,50.0,NaN
3253,0.50,house,540.0,Plot area 540(50.17 sq.m.),NaN,540.0,NaN
3254,5.00,house,215517.0,Plot area 2(1011.71 sq.m.),NaN,2.0,NaN
3255,0.92,house,603.0,Plot area 67(56.02 sq.m.),NaN,67.0,NaN
3257,0.80,house,146.0,Plot area 146(13.56 sq.m.),NaN,146.0,NaN
3258,1.50,house,1053.0,Plot area 117(97.83 sq.m.),NaN,117.0,NaN
3260,13.50,house,3618.0,Plot area 402(336.12 sq.m.),NaN,402.0,NaN
3261,0.50,house,55.0,Plot area 55(5.11 sq.m.),NaN,55.0,NaN
3262,1.70,house,1800.0,Plot area 1800(167.23 sq.m.),NaN,1800.0,NaN
3263,0.45,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3264,NaN,house,NaN,Plot area 670(560.21 sq.m.),NaN,670.0,NaN
3265,1.20,house,1186.0,Plot area 1185.51(110.14 sq.m.),NaN,1185.0,NaN
3266,1.80,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
3271,0.40,house,432.0,Plot area 432(40.13 sq.m.),NaN,432.0,NaN
3275,0.47,house,587.0,Plot area 624(57.97 sq.m.),NaN,624.0,NaN
3276,5.50,house,300.0,Plot area 300(27.87 sq.m.),NaN,300.0,NaN
3277,0.75,house,600.0,Plot area 600(55.74 sq.m.),NaN,600.0,NaN
3278,3.25,house,4000.0,Plot area 4000(371.61 sq.m.),NaN,4000.0,NaN
3279,0.53,house,363.0,Plot area 360(33.45 sq.m.),NaN,360.0,NaN
3280,2.30,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.0,NaN
3281,1.50,house,1300.0,Plot area 1300(120.77 sq.m.),NaN,1300.0,NaN
3284,1.44,house,540.0,Plot area 60(50.17 sq.m.),NaN,60.0,NaN
3285,0.50,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.0,NaN
3286,1.00,house,1215.0,Plot area 135(112.88 sq.m.),NaN,135.0,NaN
3287,5.50,house,4200.0,Plot area 4200(390.19 sq.m.),NaN,4200.0,NaN
3288,5.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
3289,0.80,house,675.0,Plot area 75(62.71 sq.m.),NaN,75.0,NaN
3290,0.90,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3291,4.30,house,1467.0,Plot area 163(136.29 sq.m.),NaN,163.0,NaN
3292,0.90,house,800.0,Plot area 800(74.32 sq.m.),NaN,800.0,NaN
3293,3.25,house,1070.0,Plot area 1069.63(99.37 sq.m.),NaN,1069.0,NaN
3294,3.71,house,1872.0,Plot area 208(173.91 sq.m.),NaN,208.0,NaN
3300,1.55,house,1053.0,Plot area 117(97.83 sq.m.),NaN,117.0,NaN
3321,0.38,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3322,10.00,house,550.0,Plot area 550(51.1 sq.m.),NaN,550.0,NaN
3323,4.60,house,1728.0,Plot area 192(160.54 sq.m.),NaN,192.0,NaN
3324,0.50,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3327,1.60,house,892.0,Plot area 892(82.87 sq.m.),NaN,892.0,NaN
3328,0.29,house,891.0,Plot area 891(82.78 sq.m.),NaN,891.0,NaN
3329,0.24,house,450.0,Plot area 450(41.81 sq.m.),NaN,450.0,NaN
3340,9.00,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3353,13.00,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.0,NaN
3354,1.40,house,1609.0,Plot area 166(138.8 sq.m.),NaN,166.0,NaN
3355,2.40,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
3356,3.35,house,1242.0,Plot area 138(115.39 sq.m.),NaN,138.0,NaN
3363,0.75,house,713.0,Plot area 713(66.24 sq.m.),NaN,713.0,NaN
3365,0.70,house,864.0,Plot area 864(80.27 sq.m.),NaN,864.0,NaN
3366,6.25,house,9001.0,Plot area 1000(836.13 sq.m.),NaN,1000.0,NaN
3368,0.49,house,1150.0,Plot area 1150(106.84 sq.m.),NaN,1150.0,NaN
3369,0.42,house,50.0,Plot area 50(4.65 sq.m.),NaN,50.0,NaN
3372,4.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.0,NaN
3376,0.96,house,960.0,Plot area 945(87.79 sq.m.),NaN,945.0,NaN
3377,1.35,house,1350.0,Plot area 1350(125.42 sq.m.),NaN,1350.0,NaN
3378,0.65,house,500.0,Plot area 500(46.45 sq.m.),NaN,500.0,NaN
3387,0.85,house,600.0,Plot area 600(55.74 sq.m.),NaN,600.0,NaN
3390,0.89,house,477.0,Plot area 477(44.31 sq.m.),NaN,477.0,NaN
3397,0.40,house,450.0,Plot area 50(41.81 sq.m.),NaN,50.0,NaN
3399,1.85,house,60.0,Plot area 60(5.57 sq.m.),NaN,60.0,NaN
3400,0.80,house,981.0,Plot area 109(91.14 sq.m.),NaN,109.0,NaN
3401,2.60,house,1080.0,Plot area 120(100.34 sq.m.),NaN,120.0,NaN
3404,0.85,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3405,10.00,house,4500.0,Plot area 502(419.74 sq.m.),NaN,502.0,NaN
3406,3.50,house,1080.0,Plot area 120(100.34 sq.m.),NaN,120.0,NaN
3408,6.50,house,4320.0,Plot area 480(401.34 sq.m.),NaN,480.0,NaN
3410,0.70,house,1160.0,Plot area 1160(107.77 sq.m.),NaN,1160.0,NaN
3411,0.59,house,585.0,Plot area 585(54.35 sq.m.),NaN,585.0,NaN
3412,4.00,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.0,NaN
3413,12.50,house,3078.0,Plot area 342(285.96 sq.m.),NaN,342.0,NaN
3414,1.60,house,540.0,Plot area 60(50.17 sq.m.),NaN,60.0,NaN
3416,2.90,house,2700.0,Plot area 2700(250.84 sq.m.),NaN,2700.0,NaN
3417,0.40,house,900.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3418,1.70,house,945.0,Plot area 900(83.61 sq.m.),NaN,900.0,NaN
3419,5.50,house,1000.0,Plot area 1000(92.9 sq.m.),NaN,1000.0,NaN
3420,6.75,house,3420.0,Plot area 380(317.73 sq.m.),NaN,380.0,NaN
3422,2.75,house,1080.0,Plot area 120(100.34 sq.m.),NaN,120.0,NaN
3423,0.27,house,225.0,Plot area 225(20.9 sq.m.),NaN,225.0,NaN
3424,0.70,house,999.0,Plot area 111(92.81 sq.m.),NaN,111.0,NaN
3425,0.95,house,1065.0,Plot area 1065(98.94 sq.m.),NaN,1065.0,NaN
3426,8.10,house,2295.0,Plot area 255(213.21 sq.m.),NaN,255.0,NaN
3427,7.00,house,5400.0,Plot area 600(501.68 sq.m.),NaN,600.0,NaN
3428,0.60,house,1170.0,Plot area 130(108.7 sq.m.),NaN,130.0,NaN
3429,0.65,house,1125.0,Plot area 1125(104.52 sq.m.),NaN,1125.0,NaN
3430,7.20,house,4521.0,Plot area 420,NaN,420.0,NaN
3431,1.50,house,1350.0,Plot area 150(125.42 sq.m.),NaN,150.0,NaN
3433,15.50,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.0,NaN
3434,14.75,house,2844.0,Plot area 316(264.22 sq.m.),NaN,316.0,NaN
3435,20.00,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.0,NaN
3436,9.54,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
3437,10.55,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
3438,17.30,house,4466.0,Plot area 502(419.74 sq.m.),NaN,502.0,NaN
3439,3.65,house,1557.0,Plot area 173(144.65 sq.m.),NaN,173.0,NaN
3440,18.90,house,4518.0,Plot area 502(419.74 sq.m.),NaN,502.0,NaN
3441,9.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
3442,24.00,house,400.0,Plot area 400(37.16 sq.m.),NaN,400.0,NaN
3443,2.15,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.0,NaN
3444,2.25,house,900.0,Plot area 100(83.61 sq.m.),NaN,100.0,NaN
3446,6.75,house,2115.0,Plot area 235(196.49 sq.m.),NaN,235.0,NaN
3447,0.60,house,540.0,Plot area 60(50.17 sq.m.),NaN,60.0,NaN
3448,3.99,house,4500.0,Plot area 4500(418.06 sq.m.),NaN,4500.0,NaN
3449,6.81,house,1845.0,Plot area 205(171.41 sq.m.),NaN,205.0,NaN
3450,6.50,house,1800.0,Plot area 200(167.23 sq.m.),NaN,200.0,NaN
3452,7.00,house,6228.0,Plot area 692(578.6 sq.m.),NaN,692.0,NaN
3454,3.20,house,2230.0,Plot area 2160(200.67 sq.m.),NaN,2160.0,NaN
3455,8.81,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN
3456,1.45,house,60.0,Plot area 60(5.57 sq.m.),NaN,60.0,NaN
3457,8.90,house,2700.0,Plot area 300(250.84 sq.m.),NaN,300.0,NaN
3458,6.50,house,1935.0,Plot area 215(179.77 sq.m.),NaN,215.0,NaN
3459,4.49,house,1836.0,Plot area 204(170.57 sq.m.),NaN,204.0,NaN
3460,22.00,house,8250.0,Plot area 1000(836.13 sq.m.),NaN,1000.0,NaN
3461,9.50,house,3600.0,Plot area 400(334.45 sq.m.),NaN,400.0,NaN
3463,4.15,house,2250.0,Plot area 250(209.03 sq.m.),NaN,250.0,NaN
3464,2.90,house,2500.0,Plot area 2500(232.26 sq.m.),NaN,2500.0,NaN
3465,12.00,house,3150.0,Plot area 350(292.64 sq.m.),NaN,350.0,NaN
3466,8.50,house,6300.0,Plot area 6300(585.29 sq.m.),NaN,6300.0,NaN
3467,11.00,house,3240.0,Plot area 360(301.01 sq.m.),NaN,360.0,NaN

In [76]:
def convert_scale(row):
    if np.isnan(row['area']) or np.isnan(row['built_up_area']):
        return row['built_up_area']
    else:
        if round(row['area']/row['built_up_area']) == 9.0:
            return row['built_up_area']*9
        elif round(row['area']/ row['built_up_area']) == 11.0:
            return row['built_up_area'] * 10.7
        else:
            return row['built_up_area']

In [77]:
all_nan_df['built_up_area'] = all_nan_df.apply(convert_scale, axis=1)

In [78]:
all_nan_df.head()

,price,property_type,area,areaWithType,super_built_up_area,built_up_area,carpet_area
2942,5.25,house,2610.0,Plot area 290(242.48 sq.m.),NaN,2610.0,NaN
2943,2.10,house,549.0,Plot area 61(51 sq.m.),NaN,549.0,NaN
2944,5.00,house,1161.0,Plot area 129(107.86 sq.m.),NaN,1161.0,NaN
2945,3.00,house,558.0,Plot area 62(51.84 sq.m.),NaN,558.0,NaN
2946,4.50,house,1152.0,Plot area 128(107.02 sq.m.),NaN,1152.0,NaN

In [79]:
# update the original dataframe
df.update(all_nan_df)

In [80]:
df.isnull().sum()

society                   1
price                    17
sector                    0
price_per_sqft           17
area                     17
areaWithType              0
bedRoom                   0
bathroom                  0
balcony                   0
additionalRoom            0
floorNum                 19
facing                 1106
agePossession             1
nearbyLocations         177
furnishDetails          981
features                639
property_type          2942
super_built_up_area    1888
built_up_area          2069
carpet_area            1863
dtype: int64

In [81]:
df.head()

,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_type,super_built_up_area,built_up_area,carpet_area
0,maa bhagwati residency,0.45,sector 7,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pearl Dental Clinic', 'Taneja Hospital', 'Dr. Ashok Jain', 'Dr. Madan Clinic', 'Geeta Nursing Home Gurgaon', 'Chiranjiv Hospital', 'Dev Man Kathuria Clinic', 'Aryan Hospital', 'Kr Dental Hub', 'Swastik Maternity and Medical Centre', 'Satyam Hospital Gurgaon', 'Ravi Clinic and Health Care Centre', 'D.R. Rajnis Gupta Clinic', 'Esic Hospital Gurugram', 'Gurgaon Eye Centre', 'Bindal Clinic', 'Shiv Mahima Patient Care Bureau', 'Shree Krishna Hospital Gurgaon', 'M.S Hospital', 'My Care Clinic', 'Ankur Clinic and Maternity Home', 'Triveni Hospital Gurgaon', 'Shri Gobind Hospital', 'Navjeevan Hospital and Maternity Centre', 'Lal Superspeciality Hospital', 'Sparsh Hospital Gurgaon', 'Prateek Nursing Home And Polyclinic', 'Jain Sant Phool Chand Ji Charitable Hospital', 'Sarvodya Hospital', 'Bhatnagar Maternity and Nursing Home', 'Tirath Ram Hospitals Pvt Ltd', 'Dr. Sarvejeet Singh', 'Centre For Sight Gurgaon New Railway Road', 'Dr. Ajay S. Gupta Clinic', 'Kidney Clinic', 'Mangalam Hospital and Heart Centre Gurgaon', 'Sethi Hospital Gurgaon', 'Shubham Hospital Gurgaon', 'Kharbanda Maternity and Nursing Home', 'Gupta Hospital Gurgaon', 'Dentecare - Multispeciality Dental Clinic', 'State bank of india', 'Hdfc bank', 'Kotak bank', 'Indian bank', 'Pizza Hut', 'St. Michaels Sr. Sec. School', 'Dronacharya Government College']","['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Lift(s)', 'Water Storage', 'Visitor Parking']",NaN,NaN,NaN,900.0
1,apna enclave,0.50,sector 3,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', 'State bank ATM', 'Sneh Hospital Gurgaon', 'Jiya Clinic', 'Dr. Mittal Clinic', ""Dr. Anurag's Child Care Clinic"", 'Yashroop Medical Centre', 'Dr. Sindhu Clinic', 'Bhardwaj Hospital', 'Jain Sant Phool Chand Ji Charitable Hospital', 'Sarvodya Hospital', 'Dr. Hitesh Dawar', 'Prateek Nursing Home And Polyclinic', 'R K Hospital Gurgaon', 'Chirag Hospital Pvt. Ltd', 'Kr Dental Hub', 'Gurgaon Eye Centre', 'Shree Krishna Hospital Gurgaon', 'Dr. Ashok Jain', 'GH Gurgaon', 'Aryan Hospital', 'Dr. Agya Ram Sharma Clinic', 'Pearl Dental Clinic', 'D.R. Rajnis Gupta Clinic', 'Sparsh Hospital Gurgaon', 'Bhatnagar Maternity and Nursing Home', 'Geeta Nursing Home Gurgaon', 'Taneja Hospital', 'Ravi Clinic and Health Care Centre', 'Dr. Sarvejeet Singh', 'Esic Hospital Gurugram', 'Centre For Sight Gurgaon New Railway Road', 'Kidney Clinic', 'Jackson Hospital', 'Jeevan Jyoti Hospital Gurgaon', 'Chiranjiv Hospital', 'Dr. Tomar Clinic', 'Indian bank', 'Kotak bank', 'Hdfc bank', 'State bank of india', 'Pizza Hut', 'St. Michaels Sr. Sec. School', 'Lieutenant Atul Kataria School', 'Dronacharya Government College', 'Gurgaon railway station', 'Gurgaon railway station', 'Gurgaon railway station']","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Geyser', '3 Light', '1 Curtains', '1 Chimney', '1 Modular Kitchen', 'No AC', 'No Bed', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",NaN,NaN,NaN,650.0
2,tulsiani easy in homes,0.40,sector 47,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', 'Rajiv Chowk', 'IGI Airport', 'IMT Sohna', 'Damdama Lake']",NaN,"['Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Park', 'Fitness Centre / GYM', 'Club house / Community Center']",NaN,NaN,NaN,595.0
3,smart world orchard,1.47,sector 61,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,2.0,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Central Square Mall', 'Golf Course Ext Road', 'Badshahpur Sohna Rd Hwy', 'ORCHIDS The International School', 'Sushant University', 'Marengo Asia Hospitals', 'Indira Gandhi Intl Airport', 'Gurgaon Railway Station']",NaN,"['Security / Fire Alarm', 'Private Garden / Terrace', 'Lift(s)', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Visitor Parking', 'Swimming Pool', 'Natural Light', 'Airy Rooms', 'Fitness Centre / GYM', 'Club house / Community Center', 'Water softening plant']",NaN,NaN,NaN,1200.0
4,parkwood westend,0.70,sector 92,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,5.0,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. Sarkar Clinic', 'Sagar Clinic', 'Orris Community Center', 'Vijay Petrol Pump', 'HP Petrol Pump', 'Essar Petrol Pump', 'Indian Oil', 'Pizza Hut', 'KFC']",[],NaN,NaN,1345.0,NaN,NaN

In [82]:
df['additionalRoom'].value_counts()

not available                                    1589
servant room                                      705
study room                                        250
others                                            225
pooja room                                        165
store room                                         99
study room,servant room                            98
pooja room,servant room                            82
pooja room,study room,servant room,store room      72
servant room,others                                60
pooja room,study room,servant room                 55
pooja room,study room,servant room,others          54
servant room,pooja room                            38
servant room,store room                            33
study room,others                                  29
pooja room,study room                              22
pooja room,others                                  17
pooja room,store room                              15
servant room,study room                            12
pooja room,store room,study room,servant room      12
pooja room,servant room,others                     11
study room,servant room,store room                 11
study room,pooja room                              10
servant room,study room,pooja room,store room      10
study room,servant room,pooja room,store room       8
store room,servant room                             8
study room,pooja room,servant room                  7
study room,servant room,others                      7
pooja room,study room,store room                    7
pooja room,servant room,store room                  7
servant room,pooja room,store room                  6
others,servant room                                 6
store room,pooja room                               5
pooja room,servant room,study room,store room       5
study room,servant room,store room,pooja room       5
pooja room,study room,others                        4
servant room,store room,pooja room                  4
study room,pooja room,store room                    4
study room,servant room,pooja room                  4
servant room,pooja room,study room,store room       3
study room,pooja room,servant room,store room       3
servant room,others,pooja room                      3
servant room,study room,pooja room                  3
pooja room,study room,store room,servant room       3
store room,pooja room,servant room                  2
study room,store room                               2
store room,pooja room,study room                    2
study room,pooja room,store room,servant room       2
servant room,others,store room,pooja room           2
servant room,study room,store room                  2
store room,pooja room,study room,servant room       2
pooja room,store room,servant room                  1
store room,pooja room,servant room,study room       1
store room,study room,servant room                  1
store room,servant room,study room,pooja room       1
store room,servant room,pooja room                  1
servant room,store room,study room,pooja room       1
store room,study room                               1
study room,store room,pooja room                    1
servant room,study room,store room,pooja room       1
servant room,study room,others                      1
others,study room                                   1
servant room,pooja room,study room                  1
servant room,pooja room,store room,study room       1
study room,others,servant room                      1
Name: additionalRoom, dtype: int64

In [83]:
# additional room
# List of new columns to be created
new_cols =['study room', 'servant room', 'pooja room', 'store room', 'others']
# Populate the new columns based on the "additionalRoom" column
for col in new_cols:
    df[col] = df['additionalRoom'].str.contains(col).astype(int)

In [84]:
df.sample(5)[['additionalRoom','study room', 'servant room', 'store room', 'pooja room', 'others']]

,additionalRoom,study room,servant room,store room,pooja room,others
3020,not available,0,0,0,0,0
3603,"pooja room,servant room",0,1,0,1,0
3583,"servant room,pooja room",0,1,0,1,0
338,not available,0,0,0,0,0
3685,"store room,servant room",0,1,1,0,0

In [85]:
df.head(3)

,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_type,super_built_up_area,built_up_area,carpet_area,study room,servant room,pooja room,store room,others
0,maa bhagwati residency,0.45,sector 7,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pearl Dental Clinic', 'Taneja Hospital', 'Dr. Ashok Jain', 'Dr. Madan Clinic', 'Geeta Nursing Home Gurgaon', 'Chiranjiv Hospital', 'Dev Man Kathuria Clinic', 'Aryan Hospital', 'Kr Dental Hub', 'Swastik Maternity and Medical Centre', 'Satyam Hospital Gurgaon', 'Ravi Clinic and Health Care Centre', 'D.R. Rajnis Gupta Clinic', 'Esic Hospital Gurugram', 'Gurgaon Eye Centre', 'Bindal Clinic', 'Shiv Mahima Patient Care Bureau', 'Shree Krishna Hospital Gurgaon', 'M.S Hospital', 'My Care Clinic', 'Ankur Clinic and Maternity Home', 'Triveni Hospital Gurgaon', 'Shri Gobind Hospital', 'Navjeevan Hospital and Maternity Centre', 'Lal Superspeciality Hospital', 'Sparsh Hospital Gurgaon', 'Prateek Nursing Home And Polyclinic', 'Jain Sant Phool Chand Ji Charitable Hospital', 'Sarvodya Hospital', 'Bhatnagar Maternity and Nursing Home', 'Tirath Ram Hospitals Pvt Ltd', 'Dr. Sarvejeet Singh', 'Centre For Sight Gurgaon New Railway Road', 'Dr. Ajay S. Gupta Clinic', 'Kidney Clinic', 'Mangalam Hospital and Heart Centre Gurgaon', 'Sethi Hospital Gurgaon', 'Shubham Hospital Gurgaon', 'Kharbanda Maternity and Nursing Home', 'Gupta Hospital Gurgaon', 'Dentecare - Multispeciality Dental Clinic', 'State bank of india', 'Hdfc bank', 'Kotak bank', 'Indian bank', 'Pizza Hut', 'St. Michaels Sr. Sec. School', 'Dronacharya Government College']","['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Lift(s)', 'Water Storage', 'Visitor Parking']",NaN,NaN,NaN,900.0,0,0,0,0,0
1,apna enclave,0.50,sector 3,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', 'State bank ATM', 'Sneh Hospital Gurgaon', 'Jiya Clinic', 'Dr. Mittal Clinic', ""Dr. Anurag's Child Care Clinic"", 'Yashroop Medical Centre', 'Dr. Sindhu Clinic', 'Bhardwaj Hospital', 'Jain Sant Phool Chand Ji Charitable Hospital', 'Sarvodya Hospital', 'Dr. Hitesh Dawar', 'Prateek Nursing Home And Polyclinic', 'R K Hospital Gurgaon', 'Chirag Hospital Pvt. Ltd', 'Kr Dental Hub', 'Gurgaon Eye Centre', 'Shree Krishna Hospital Gurgaon', 'Dr. Ashok Jain', 'GH Gurgaon', 'Aryan Hospital', 'Dr. Agya Ram Sharma Clinic', 'Pearl Dental Clinic', 'D.R. Rajnis Gupta Clinic', 'Sparsh Hospital Gurgaon', 'Bhatnagar Maternity and Nursing Home', 'Geeta Nursing Home Gurgaon', 'Taneja Hospital', 'Ravi Clinic and Health Care Centre', 'Dr. Sarvejeet Singh', 'Esic Hospital Gurugram', 'Centre For Sight Gurgaon New Railway Road', 'Kidney Clinic', 'Jackson Hospital', 'Jeevan Jyoti Hospital Gurgaon', 'Chiranjiv Hospital', 'Dr. Tomar Clinic', 'Indian bank', 'Kotak bank', 'Hdfc bank', 'State bank of india', 'Pizza Hut', 'St. Michaels Sr. Sec. School', 'Lieutenant Atul Kataria School', 'Dronacharya Government College', 'Gurgaon railway station', 'Gurgaon railway station', 'Gurgaon railway station']","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Geyser', '3 Light', '1 Curtains', '1 Chimney', '1 Modular Kitchen', 'No AC', 'No Bed', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",NaN,NaN,NaN,650.0,0,0,0,0,0
2,tulsiani easy in homes,0.40,sector 47,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', 'Rajiv Chowk', 'IGI Airport', 'IMT Sohna', 'Damdama Lake']",NaN,"['Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Park', 'Fitness Centre / GYM', 'Club house / Community Center']",NaN,NaN,NaN,595.0,0,0,0,0,0

In [87]:
# agePoossesion
df['agePossession'].value_counts()

1 to 5 Year Old       1677
5 to 10 Year Old       575
0 to 1 Year Old        532
undefined              332
10+ Year Old           311
Under Construction      88
Within 6 months         70
Within 3 months         26
Dec-23                  22
By 2023                 19
By 2024                 17
Dec-24                  16
Mar-24                  14
Jan-24                   8
Oct-24                   8
Dec-25                   7
Jun-24                   7
Aug-23                   7
Nov-23                   5
Aug-24                   4
By 2025                  4
Sep-23                   4
Jul-24                   4
Oct-23                   4
Jan-25                   3
Feb-24                   3
Nov-24                   3
May-24                   3
Jan-26                   2
Jul-25                   2
Sep-25                   2
Mar-25                   2
Oct-25                   2
By 2027                  2
Aug-25                   2
Jul-27                   2
Apr-26                   2
Dec-26                   2
Mar-26                   1
Jan-28                   1
Aug-26                   1
Apr-24                   1
Jun-25                   1
Sep-27                   1
Nov-25                   1
Jul-26                   1
Jan-27                   1
Jun-27                   1
Name: agePossession, dtype: int64

In [90]:
def categorize_age_posseddion(value):
    if pd.isna(value):
        return "Undefined"
    if "0 to 1 Year Old" in value or "Within 6 months" in value or "Within 3 months" in value:
        return "New Property"
    if "1 to 5 Year Old" in value:
        return "relatively New"
    if "5 to 10 Year Old" in value:
        return "Moderately Old"
    if "10+ Year Old" in value:
        return "Old Property"
    if "Under Construction" in value or "By" in value:
        return "Under Construction"
    try:
        # For entries like 'May 2024'
        int(value.split(" ")[-1])
        return "Under Construction"
    except:
        return "Undefined"

In [91]:
df['agePossession'] = df['agePossession'].apply(categorize_age_posseddion)

In [92]:
df['agePossession'].value_counts()

relatively New        1677
New Property           628
Moderately Old         575
Undefined              483
Old Property           311
Under Construction     130
Name: agePossession, dtype: int64

In [93]:
df.head(3)

,society,price,sector,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,property_type,super_built_up_area,built_up_area,carpet_area,study room,servant room,pooja room,store room,others
0,maa bhagwati residency,0.45,sector 7,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,4.0,West,relatively New,"['Chintapurni Mandir', 'State bank ATM', 'Pearl Dental Clinic', 'Taneja Hospital', 'Dr. Ashok Jain', 'Dr. Madan Clinic', 'Geeta Nursing Home Gurgaon', 'Chiranjiv Hospital', 'Dev Man Kathuria Clinic', 'Aryan Hospital', 'Kr Dental Hub', 'Swastik Maternity and Medical Centre', 'Satyam Hospital Gurgaon', 'Ravi Clinic and Health Care Centre', 'D.R. Rajnis Gupta Clinic', 'Esic Hospital Gurugram', 'Gurgaon Eye Centre', 'Bindal Clinic', 'Shiv Mahima Patient Care Bureau', 'Shree Krishna Hospital Gurgaon', 'M.S Hospital', 'My Care Clinic', 'Ankur Clinic and Maternity Home', 'Triveni Hospital Gurgaon', 'Shri Gobind Hospital', 'Navjeevan Hospital and Maternity Centre', 'Lal Superspeciality Hospital', 'Sparsh Hospital Gurgaon', 'Prateek Nursing Home And Polyclinic', 'Jain Sant Phool Chand Ji Charitable Hospital', 'Sarvodya Hospital', 'Bhatnagar Maternity and Nursing Home', 'Tirath Ram Hospitals Pvt Ltd', 'Dr. Sarvejeet Singh', 'Centre For Sight Gurgaon New Railway Road', 'Dr. Ajay S. Gupta Clinic', 'Kidney Clinic', 'Mangalam Hospital and Heart Centre Gurgaon', 'Sethi Hospital Gurgaon', 'Shubham Hospital Gurgaon', 'Kharbanda Maternity and Nursing Home', 'Gupta Hospital Gurgaon', 'Dentecare - Multispeciality Dental Clinic', 'State bank of india', 'Hdfc bank', 'Kotak bank', 'Indian bank', 'Pizza Hut', 'St. Michaels Sr. Sec. School', 'Dronacharya Government College']","['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Security / Fire Alarm', 'Lift(s)', 'Water Storage', 'Visitor Parking']",NaN,NaN,NaN,900.0,0,0,0,0,0
1,apna enclave,0.50,sector 3,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,1.0,West,Old Property,"['Chintapurni Mandir', 'Sheetla Mata Mandir', 'State bank ATM', 'Sneh Hospital Gurgaon', 'Jiya Clinic', 'Dr. Mittal Clinic', ""Dr. Anurag's Child Care Clinic"", 'Yashroop Medical Centre', 'Dr. Sindhu Clinic', 'Bhardwaj Hospital', 'Jain Sant Phool Chand Ji Charitable Hospital', 'Sarvodya Hospital', 'Dr. Hitesh Dawar', 'Prateek Nursing Home And Polyclinic', 'R K Hospital Gurgaon', 'Chirag Hospital Pvt. Ltd', 'Kr Dental Hub', 'Gurgaon Eye Centre', 'Shree Krishna Hospital Gurgaon', 'Dr. Ashok Jain', 'GH Gurgaon', 'Aryan Hospital', 'Dr. Agya Ram Sharma Clinic', 'Pearl Dental Clinic', 'D.R. Rajnis Gupta Clinic', 'Sparsh Hospital Gurgaon', 'Bhatnagar Maternity and Nursing Home', 'Geeta Nursing Home Gurgaon', 'Taneja Hospital', 'Ravi Clinic and Health Care Centre', 'Dr. Sarvejeet Singh', 'Esic Hospital Gurugram', 'Centre For Sight Gurgaon New Railway Road', 'Kidney Clinic', 'Jackson Hospital', 'Jeevan Jyoti Hospital Gurgaon', 'Chiranjiv Hospital', 'Dr. Tomar Clinic', 'Indian bank', 'Kotak bank', 'Hdfc bank', 'State bank of india', 'Pizza Hut', 'St. Michaels Sr. Sec. School', 'Lieutenant Atul Kataria School', 'Dronacharya Government College', 'Gurgaon railway station', 'Gurgaon railway station', 'Gurgaon railway station']","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Geyser', '3 Light', '1 Curtains', '1 Chimney', '1 Modular Kitchen', 'No AC', 'No Bed', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Security / Fire Alarm', 'Maintenance Staff', 'Water Storage', 'Park', 'Visitor Parking']",NaN,NaN,NaN,650.0,0,0,0,0,0
2,tulsiani easy in homes,0.40,sector 47,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,12.0,NaN,New Property,"['Huda City Metro', 'Golf Course extn road', 'Rajiv Chowk', 'IGI Airport', 'IMT Sohna', 'Damdama Lake']",NaN,"['Power Back-up', 'Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Swimming Pool', 'Park', 'Fitness Centre / GYM', 'Club house / Community Center']",NaN,NaN,NaN,595.0,0,0,0,0,0

# furnishDetails

In [98]:
df.sample(5)[['furnishDetails', 'features']]

,furnishDetails,features
3687,"['6 Wardrobe', '1 Exhaust Fan', '24 Light', '1 Curtains', 'No AC', 'No Bed', 'No Chimney', 'No Dining Table', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Feng Shui / Vaastu Compliant', 'Private Garden / Terrace', 'Water purifier', 'High Ceiling Height', 'Maintenance Staff', 'False Ceiling Lighting', 'Water Storage', 'Separate entry for servant room', 'No open drainage around', 'Recently Renovated', 'Bank Attached Property', 'Visitor Parking', 'Park', 'Security Personnel', 'Natural Light', 'Internet/wi-fi connectivity', 'Airy Rooms', 'Spacious Interiors', 'Low Density Society', 'Waste Disposal', 'Rain Water Harvesting']"
2590,[],"['Feng Shui / Vaastu Compliant', 'Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Park', 'Security Personnel', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center', 'Rain Water Harvesting']"
2676,"['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']",NaN
776,NaN,"['Water purifier', 'Security / Fire Alarm', 'Feng Shui / Vaastu Compliant', 'Private Garden / Terrace', 'Intercom Facility', 'Lift(s)', 'High Ceiling Height', 'Maintenance Staff', 'Water Storage', 'Separate entry for servant room', 'No open drainage around', 'Bank Attached Property', 'Piped-gas', 'Internet/wi-fi connectivity', 'Recently Renovated', 'Visitor Parking', 'Swimming Pool', 'Park', 'Security Personnel', 'Natural Light', 'Airy Rooms', 'Low Density Society', 'Waste Disposal', 'Rain Water Harvesting', 'Water softening plant', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center']"
1259,"['5 Fan', '1 Exhaust Fan', '5 Geyser', '1 Stove', '15 Light', '6 AC', '1 Chimney', '1 Curtains', '1 Modular Kitchen', '4 Wardrobe', 'No Bed', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No TV', 'No Washing Machine', 'No Water Purifier']","['Intercom Facility', 'Lift(s)', 'Maintenance Staff', 'Swimming Pool', 'Park', 'Security Personnel', 'Internet/wi-fi connectivity', 'Shopping Centre', 'Fitness Centre / GYM', 'Club house / Community Center']"