In [14]:
import pandas as pd
import numpy as np

In [15]:
cd "C:\Users\aijul\Desktop\dataScience-\Real_Estate_Project\dataset"

C:\Users\aijul\Desktop\dataScience-\Real_Estate_Project\dataset

In [16]:
df= pd.read_csv('gurgaon_properties_post_feature_selection.csv')

In [17]:
df

,property_type,sector,bedRoom,bathroom,balcony,agePossession,built_up_area,servant room,store room,furnishing_type,luxury_category,floor_category,price
0,0.0,75.0,2.0,2.0,1.0,3.0,1000.0,0.0,0.0,1.0,1.0,2.0,0.45
1,0.0,31.0,2.0,2.0,1.0,2.0,722.0,0.0,0.0,2.0,1.0,1.0,0.50
2,0.0,48.0,2.0,2.0,3.0,1.0,661.0,0.0,0.0,1.0,1.0,0.0,0.40
3,0.0,65.0,2.0,2.0,2.0,1.0,1333.0,0.0,0.0,1.0,2.0,1.0,1.47
4,0.0,101.0,2.0,2.0,3.0,4.0,1217.0,0.0,0.0,1.0,1.0,2.0,0.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3550,1.0,60.0,3.0,3.0,3.0,0.0,1650.0,0.0,1.0,2.0,2.0,1.0,4.75
3551,1.0,28.0,4.0,4.0,3.0,0.0,1800.0,1.0,0.0,1.0,2.0,1.0,5.50
3552,1.0,27.0,3.0,2.0,3.0,2.0,1350.0,0.0,0.0,1.0,1.0,1.0,4.25
3553,1.0,28.0,3.0,3.0,2.0,0.0,1350.0,1.0,0.0,1.0,2.0,1.0,4.50
3554,1.0,28.0,3.0,3.0,3.0,2.0,8829.0,0.0,0.0,1.0,2.0,1.0,3.25

In [18]:
# one hot encode -> sector, balcony, agePossession, furnishing type, luxury category, floor category

In [19]:
X = df.drop(columns=['price'])
y = df['price']

In [20]:
y

0       0.45
1       0.50
2       0.40
3       1.47
4       0.70
        ...
3550    4.75
3551    5.50
3552    4.25
3553    4.50
3554    3.25
Name: price, Length: 3555, dtype: float64

In [21]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.svm import SVR

In [22]:
columns_to_encode = ['sector', 'balcony', 'agePossession', 'furnishing_type', 'luxury_category', 'floor_category']

In [23]:
# Applying the log1p transformation to the target variable
y_transformed = np.log1p(y)

In [24]:
# Creating a column transformer for preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ['property_type', 'bedRoom', 'bathroom', 'built_up_area', 'servant room', 'store room']),
        ('cat', OneHotEncoder(drop='first'), columns_to_encode)
    ], 
    remainder='passthrough'
)

In [25]:
#creating a pileline
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', SVR(kernel = 'rbf'))
])

In [26]:
# K-fold cross-validation
kfold = KFold(n_splits=10, shuffle = True, random_state= 42)
scores = cross_val_score(pipeline, X, y_transformed, cv = kfold, scoring ='r2')

C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\model_selection\_validation.py:1006: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_scorer.py", line 137, in __call__
    score = scorer._score(
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_scorer.py", line 345, in _score
    y_pred = method_caller(
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_scorer.py", line 87, in _cached_call
    result, _ = _get_response_values(
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\_response.py", line 238, in _get_response_values
    y_pred, pos_label = prediction_method(X), None
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\pipeline.py", line 602, in predict
    Xt = transform.transform(Xt)
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\_set_output.py", line 273, in wrapped
    data_to_wrap = f(self, X, *args, **kwargs)
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\compose\_column_transformer.py", line 1014, in transform
    Xs = self._call_func_on_transformers(
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\compose\_column_transformer.py", line 823, in _call_func_on_transformers
    return Parallel(n_jobs=self.n_jobs)(jobs)
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\parallel.py", line 67, in __call__
    return super().__call__(iterable_with_config)
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\joblib\parallel.py", line 1863, in __call__
    return output if self.return_generator else list(output)
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\joblib\parallel.py", line 1792, in _get_sequential_output
    res = func(*args, **kwargs)
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\parallel.py", line 129, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\pipeline.py", line 1283, in _transform_one
    res = transformer.transform(X, **params.transform)
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\_set_output.py", line 273, in wrapped
    data_to_wrap = f(self, X, *args, **kwargs)
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py", line 1023, in transform
    X_int, X_mask = self._transform(
  File "C:\Users\aijul\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py", line 213, in _transform
    raise ValueError(msg)
ValueError: Found unknown categories [20.0] in column 0 during transform

  warnings.warn(